html,
body {
  height: 100%;
  margin: 0;
  background-color: white;
  color: #282828;
  font-family: "JetBrains Mono", monospace;
}

/* Styles généraux */
.intro,
footer,
.block {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  height: 100vh; /* Prend exactement toute la hauteur de la fenêtre */
  width: 50%;
  margin: 0 auto; /* Centre horizontalement dans la page */
  padding: 0;
  box-sizing: border-box;
  overflow: auto; /* Si le contenu déborde, on peut scroller à l'intérieur */
}

.box {
  max-height: 90vh; /* Pour ne pas dépasser la fenêtre */
  overflow: auto; /* Scroll interne si besoin */
  width: 100%;
  margin: 0 10px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
  transition: 1s;
  border-radius: 10px;
}
.box img {
  display: block;
  width: 100%;
}

.box:hover {
  transform: scale(1.05);
  z-index: 2;
}
