<nav class="navbar">
    <ul class="nav-list">
        <li><a href="/" class="nav-link" data-page="home">Home</a></li>
        <li>
            <a href="/selection/" class="nav-link" data-page="selection"
                >Selection</a
            >
        </li>
        <li>
            <a href="/purchase/" class="nav-link" data-page="purchase"
                >Purchase</a
            >
        </li>
        <li><a href="/about/" class="nav-link" data-page="about">About</a></li>
        <li>
            <a href="/linktree/" class="nav-link" data-page="linktree">Links</a>
        </li>
        <li>
            <a href="/contact/" class="nav-link" data-page="contact">Contact</a>
        </li>
        <li>
            <a
                href="https://ko-fi.com/not1618033"
                class="nav-link"
                target="_blank"
                rel="noopener"
            >
                café
            </a>
        </li>
    </ul>
</nav>
